{% block stylesheets %}
    {{ encore_entry_link_tags('nav') }}
{% endblock %}

{#
<nav>

    <input id="nav-toggle" class="check-burger" type="checkbox">
    <ul class="nav_links">
        <li><a href="#">First</a></li>
        <li><a href="#">Second</a></li>
        <li><a href="#">Third</a></li>
        <li><a href="#">Fourth</a></li>
    </ul>


    <label for="nav-toggle"></label>
    <a href="#" class="burger">
        <div></div>
        <div></div>
        <div></div>
    </a>
</nav>
#}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="logo" src="{{ asset('build/images/logo.png') }}" alt=""/>Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    {% if not (app.user) %}
    <button class="btn">
        <a href="{{ path("app_login") }}">Se connecter</a>
    </button>
    {% endif %}
</nav>
<div id="navbarCollapse" class="collapse navbar-collapse bg-dark">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item"><a class="btn btn-outline-warning" href="{{ path("home_index") }}" target="_blank">Accueil</a></li>
        {% if app.user and is_granted("ROLE_MEMBER") %}
            <li class="nav-item py-2"><a class="btn btn-outline-warning" href="{{ path('userinterface_index') }}">Tableau de bord</a></li>
            <li class="nav-item py-2"><a class="btn btn-outline-warning" href="{{ path('budget_index') }}">Gestion de Budget</a></li>
            <li class="nav-item py-2"><a class="btn btn-outline-warning" href="{{ path('income_index') }}">Gestion de Revenu</a></li>
            <li class="nav-item py-2"><a class="btn btn-outline-warning" href="{{ path('user_edit', { id : app.user.id }) }}">Paramètre</a></li>
            <li class="nav-item py-2"><a class="btn btn-outline-warning" href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% elseif app.user and is_granted("ROLE_ADMIN") %}
            <li class="nav-item py-2"><a class="btn btn-outline-warning" href="#">Gestion Accueil</a></li>
            <li class="nav-item py-2"><a class="btn btn-outline-warning" href="{{ path('user_index') }}">Gestion Utilistaeur</a></li>
            <li class="nav-item py-2"><a class="btn btn-outline-warning" href="{{ path('user_edit', { id : app.user.id }) }}">Paramètre</a></li>
            <li class="nav-item py-2"><a class="btn btn-outline-warning" href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li class="nav-item py-2"><a class="btn btn-outline-warning" href="{{ path('app_login') }}">Connexion</a></li>
        {% endif %}
    </ul>
</div>
