{% extends 'base.html.twig' %}

{% block stylesheets %}
        {{ encore_entry_link_tags('home') }}
        {{ encore_entry_link_tags('userBudget') }}
{% endblock %}

{% block body %}
        <main>

                {{ include('userInterface/_sidebars.html.twig') }}

                <div class="w-100">
                        <table class="table table-sm table-light table-striped table-hover">
                                <thead class="table-primary">
                                <tr>
                                        <th scope="col">Nom</th>
                                        <th class="text-center" scope="col">Genre</th>
                                        <th class="d-flex justify-content-end" scope="col">Modifier/Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for budget in budgets %}
                                        {% if budget.userLink.id == app.user.id  %}
                                        <tr>
                                                <td>
                                                        <h2>{{ budget.name }}</h2>
                                                </td>
                                                <td class=" text-center">
                                                        {{ budget.type }}
                                                </td>
                                                <td class="d-flex justify-content-end">
                                                        {{ include('budget/_delete.html.twig') }}
                                                        <a href="{{ path("budget_edit", { "budgetName": budget.name }) }}">Modifier</a>
                                                </td>
                                        </tr>
                                        {% endif %}
                                {% else %}
                                        Aucun autre budget
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                        <tr>
                                                <td class="text-center" colspan="3">
                                                        <a href="{{ path("budget_new") }}">Ajouter un nouveau Budget</a>
                                                </td>
                                        </tr>
                                </tfoot>
                        </table>

                        <a href="{{ path('home_index') }}">
                                Retour à la homepage
                        </a>
                </div>





        </main>
{% endblock %}