{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}


{% block title %}User index{% endblock %}

{% block body %}
    <main>

        {{ include('userInterface/_sidebars.html.twig') }}

        <div class="w-100">
            <table class="table table-sm table-light table-striped table-hover w-100">
                <thead class="table-primary">
                <tr>
                    <th>Id</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Birthday</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Password</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.password }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('home_index') }}">
                Retour à la homepage
            </a>
        </div>
    </main>
{% endblock %}
